/* 已废弃的 css 文件！ */
:root {
    background-color: black;
    height: calc(100vh);
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: Silver;
    src: url(../assets/fonts/Silver.ttf);
}
@font-face {
    font-family: AlibabaPuHuiTi;
    src: url(../assets/fonts/Alibaba_PuHuiTi_2.0_65_Medium_65_Medium.ttf);
}
.bg-img-full {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
* {
    font-size: 1rem;
    image-rendering: pixelated;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    font-family: AlibabaPuHuiTi;
}
@keyframes ash {
    0% {
        opacity: 0;
        box-shadow: none;
        transform: translateY(0vh);
    }
    50% {
        opacity: 1;
        box-shadow: 0 0 10px 5px darkgray;
    }
    100% {
        opacity: 0;
        box-shadow: none;
        transform: translateY(-20vh);
    }
}

@keyframes run {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(100vh);
    }
    66% {
        transform: translateX(-100vh);
    }
}

@keyframes vibration {
    0% {
        transform: translateY(-2px);
    }
    20% {
        transform: translateX(2px);
    }
    40% {
        transform: translateY(2px);
    }
    60% {
        transform: translateX(-2px);
    }
    80% {
        transform: translateY(-2px);
    }
}
